version: "3.9"

services:
  ms-membership:
    image: kabraass/ecommerce-membership:1.0
    container_name: ms-membership
    ports:
      - "8081:8081"
    networks:
      - ecommerce-network

  ms-product:
    image: kabraass/ecommerce-product:1.0
    container_name: ms-product
    ports:
      - "8082:8082"
    networks:
      - ecommerce-network

  ms-order:
    image: kabraass/ecommerce-order:1.0
    container_name: ms-order
    ports:
      - "8083:8083"
    environment:
      - USER_SERVICE_URL=http://ms-membership:8081
      - PRODUCT_SERVICE_URL=http://ms-product:8082
    networks:
      - ecommerce-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - ecommerce-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - ecommerce-network
    depends_on:
      - prometheus

networks:
  ecommerce-network:
    driver: bridge

volumes:
  prometheus-data:
  grafana-data: